[Desktop Entry]
Version=0.0.0f0
Name=MonoDevelop (Unity)
Exec=/opt/Unity/MonoDevelop/bin/monodevelop
Icon=unity-monodevelop
Terminal=false
Type=Application
Categories=Development;IDE;Application;
