<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
	<title>Unity</title>
    <pkg-ref id="com.unity3d.UnityEditor5.x"/>
    <options hostArchitectures='i386'/>
    <options customize="never" require-scripts="true"/>
    <background file="background.tiff" alignment="topleft"/>
    <welcome file="Welcome.rtf"/>
    <choices-outline>
            <line choice="com.unity3d.UnityEditor5.x"/>
    </choices-outline>
    <choice id="com.unity3d.UnityEditor5.x" visible="false">
        <pkg-ref id="com.unity3d.UnityEditor5.x" auth='Root'/>
    </choice>
    <pkg-ref id="com.unity3d.UnityEditor5.x" version="0" onConclusion="none">Unity.pkg.tmp</pkg-ref>
</installer-gui-script>
