# this blocks editorconfig from finding the repo root .editorconfig. This folder is ignored in .repoconfig
# and no formatting is run on it, so we want to ignore the root editorconfig as well.
# Ignore reason: the formatting is not helpful in this case because we'd be formatting input test data that is used for parsing

root = true
