# this blocks editorconfig from finding the repo root .editorconfig. This folder is ignored in .repoconfig
# and no formatting is run on it, so we want to ignore the root editorconfig as well.
# Ignore reason: these files should not be formatted because they are tested against other unformatted .xml files

root = true
